{% extends 'base.html' %}


{% block content %}


<div class="retreat-wrapper mt-3 p-2" >
    <h1 style="font-family: serif;">
        The Brothers
    </h1>
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the world-wide Order of Cistercians of the Strict Observance popularly known as Trappist. 
    </p>
    <a href="/who-we-are/" class="link-1">
        <img src="../media/MEPKING/monks.png" alt="">
        <h4>Who We Are</h4>
    </a>
    <a href="/daily-life/" class="link-1">
        <img src="../media/MEPKING/daily-life.png" alt="">
        <h4>Our Daily Life</h4>
    </a>
    
    <a href="/vacations/" class="link-1">
        <img src="../media/MEPKING/vacations.png" alt="">
        <h4>Vacations</h4>
    </a>
    <a href="/pray-with-us/" class="link-1">
        <img src="../media/MEPKING/g4.png" alt="">
        <h4>Pray With Us</h4>
    </a>

</div>


{% include 'navbar.html' %}

{% endblock %}