{% extends 'base.html' %}


{% block content %}

<div class="container">
    <h1 class="mt-2">Our Daily Life</h1>
    <div class="row mt-5">
        <div class="col-lg mb-3"><a href="https://mepkinabbey.org/our-daily-life/" target="_blank">Horarium: Daily Schedule</a></div>
        <div class="col-lg mb-3"><a href="https://ibreviary.com/m/breviario.php" target="_blank">Liturgy of the Hours</a></div>
        <div class="col-lg mb-3"><a href="https://mepkinabbey.org/work/" target="_blank">Our Work</a></div>
    </div>
</div>

{% include 'navbar.html' %}

{% endblock %}