{% extends 'base.html' %}

{% block content %}
<div class="px-3 gardens-wrapper">
    <h2 class="m-heading mt-3">
        The Gardens
    </h2>    
    <p class="garden-ab">
        Situated along the Cooper River, Mepkin's gardens are home to many species of plants and flowers and places of both spiritual and historical significance.
    </p>
    <a href="/grounds-tour/" class="link-1">
        <img src="../media/MEPKING/g3.png" alt="">
        <h4>Virtual Tour</h4>
    </a>
    <a href="https://mepkinabbey.org/gardens-scenery/" target="_blank" class="link-1">
        <img src="../media/MEPKING/g4.png" alt="">
        <h4>The Gardens</h4>
    </a>
</div>

{% endblock %}