{% extends 'base.html' %}

{% block content %}

<style>
    .notes-map {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        background-color: white;
        padding: 1rem;
        color: black;
        gap: 10px;
    }
    .notes-map .note {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    .notes-map .note .icon {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        
    }
</style>


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<div class="container mb-5">
    <h1 class="mt-2" style="font-family:serif;">Maps</h1>

    
    <div id="map-2" class="mt-2" style="width:100%;height: 400px;"></div>
    <div class="notes-map">
        <div class="note">
            <span class="icon"  style="background-color: green;"></span>
            Mepkin Abbey Columarium
        </div>
        <div class="note">
            <span class="icon"  style="background-color: yellow;"></span>
            Lady of Mepkin
        </div>
        <div class="note">
            <span class="icon"  style="background-color: lightblue;"></span>
             Laurens Cemetry
        </div>
        <div class="note">
            <span class="icon"  style="background-color: pink;"></span>
             Gift Shop
        </div>
        <div class="note">
            <span class="icon"  style="background-color: blue;"></span>
             The Labyrinth
        </div>
    </div>

    <div class="mt-5">
        <a href="/virtual-tour/" class="btn btn-primary">Open Street View</a>
    </div>
</div>

{% include 'navbar.html' %}

<script>

    // function initMap() {
    //     var map = new google.maps.Map(document.getElementById('map'), {
    //         center: { lat: 33.1152391, lng: -79.9442717 },
    //         zoom: 17,
    //     });

    //     var markerPosition = { lat: 33.1160651, lng: -79.9442717 };

    //     var marker = new google.maps.Marker({
    //         position: markerPosition,
    //         map: map,
    //         title: 'Mepkin Abbey',
    //     });




    //     var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), {
    //         position: markerPosition,
    //         pov: {
    //             heading: 0,
    //             pitch: 0,
    //         },
    //     });

    //     // Set the Street View panorama as the default panorama for the map
    //     map.setStreetView(panorama);
    // }

    var map2 = new google.maps.Map(document.getElementById('map-2'), {
        center: { lat: 33.1152391, lng: -79.9442717 },
        zoom: 17,
    });

    // Initialize a marker that will represent the user's location
    var userMarker = new google.maps.Marker({
        position: { lat: 33.1152391, lng: -79.9442717 }, // Initial position
        map: map2,
        title: 'Your Location',
        mapTypeId: google.maps.MapTypeId.SATELLITE,

    });

    let m1 = new google.maps.Marker({
        position: { lat: 33.11703389006762, lng: -79.95231856400774 },
        map: map2,
        color: 'blue',
        title: 'Laurens Cemetry',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, // Adjust the size
            fillColor: 'lightblue', // Fill color
            fillOpacity: 1, // Fill opacity
            strokeColor: 'black', // Stroke color
            strokeWeight: 2 // Stroke weight
        }
    })

    let m2 = new google.maps.Marker({
        position: { lat: 33.117839436152956, lng: -79.95219969160443 },
        map: map2,
        color: 'blue',
        title: 'Laurens Cemetry',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, // Adjust the size
            fillColor: 'lightblue', // Fill color
            fillOpacity: 1, // Fill opacity
            strokeColor: 'black', // Stroke color
            strokeWeight: 2 // Stroke weight
        }
    })

    let m3 = new google.maps.Marker({
        position: { lat: 33.11798425264326, lng: -79.95297776551703 },
        map: map2,
        color: 'blue',
        title: 'Laurens Cemetry',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'lightblue',
            fillOpacity: 1, 
            strokeColor: 'black',
            strokeWeight: 2 
        }
    })

    let m4 = new google.maps.Marker({
        position: { lat: 33.11713345234346, lng: -79.95103258073553 },
        map: map2,
        color: 'blue',
        title: 'Lady of Mepkin',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'yellow',
            fillOpacity: 1, 
            strokeColor: 'black',
            strokeWeight: 2 
        }
    })

    let m5 = new google.maps.Marker({
        position: { lat: 33.11855446525771, lng: -79.95290211944457 },
        map: map2,
        color: 'blue',
        title: 'Lady of Mepkin',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'yellow',
            fillOpacity: 1, 
            strokeColor: 'black',
            strokeWeight: 2 
        }
    })

    let m6 = new google.maps.Marker({
        position: { lat: 33.1163689611586, lng: -79.95053464601997 },
        map: map2,
        color: 'blue',
        title: 'Lady of Mepkin',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'yellow',
            fillOpacity: 1, 
            strokeColor: 'black',
            strokeWeight: 2 
        }
    })
    
    let m7 = new google.maps.Marker({
        position: { lat: 33.117118783327314, lng: -79.95604704490015 },
        map: map2,
        color: 'blue',
        title: 'Mepkin Abbey Columarium',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'green',
            fillOpacity: 1, 
            strokeColor: 'white',
            strokeWeight: 2 
        }
    })
    
    let m8 = new google.maps.Marker({
        position: { lat: 33.116026177515245, lng: -79.95107603559019 },
        map: map2,
        color: 'blue',
        title: 'Gift Shop',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'pink',
            fillOpacity: 1, 
            strokeColor: 'white',
            strokeWeight: 2 
        }
    })
    
    let m9 = new google.maps.Marker({
        position: { lat: 33.117389403337974, lng:-79.95055054108573 },
        map: map2,
        color: 'blue',
        title: 'Gift Shop',
        icon: {
            path: google.maps.SymbolPath.CIRCLE, // Choose an available symbol
            scale: 10, 
            fillColor: 'blue',
            fillOpacity: 1, 
            strokeColor: 'black',
            strokeWeight: 2 
        }
    })
    


    google.maps.event.addListener(m1, 'click', function () {
        window.location.href = '/laurens-cemetry/';
    });
    google.maps.event.addListener(m2, 'click', function () {
        window.location.href = '/laurens-cemetry/';
    });
    google.maps.event.addListener(m3, 'click', function () {
        window.location.href = '/laurens-cemetry/';
    });
    google.maps.event.addListener(m4, 'click', function () {
        window.location.href = '/lady-of-mepkin/';
    });
    google.maps.event.addListener(m5, 'click', function () {
        window.location.href = '/lady-of-mepkin/';
    });
    google.maps.event.addListener(m6, 'click', function () {
        window.location.href = '/lady-of-mepkin/';
    });
    google.maps.event.addListener(m7, 'click', function () {
        window.location.href = 'https://mepkinabbey.org/columbarium-at-mepkin-abbey/';
    });
    google.maps.event.addListener(m8, 'click', function () {
        window.location.href = 'https://mepkinabbey.org/mepkin-abbey-store/';
    });
    google.maps.event.addListener(m9, 'click', function () {
        window.location.href = 'https://mepkinabbey.org/the-labyrinth-walk/';
    });


    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(function (position) {
            var userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
            };

            // Update the marker's position to the new user location
            userMarker.setPosition(userLocation);

        });
    } else {
        alert("Geolocation is not supported by this browser.");
    }

    // initMap();
</script>

{% endblock %}