<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Abbey Monastry</title>
</head>
<body>

    <div class="index-wrapper">
        <img src="../media/MEPKING/monastry.png" class="index-pic-1" alt="">
        <div class="footer">
            <button class="btn start-btn btn-primary">Get Started!</button>
            <h3>We share our spiritual journey and communal lives with all seekers...</h3>
            <img src="../media/MEPKING/logo.png" alt="">
        </div>
    </div>

    <div class="start-modal">
        <h1>Are you currently on site visiting Mepkin?</h1>
        <div class="a-1">
            If YES, <a href="/grounds-tour/" class="btn btn-info">Click Here</a> to join us on a self guided tour of the grounds
        </div>
        <div class="a-2">
            If NO, <a href="/home/" class="btn btn-info">Click Here</a> to find out general information about MEPKIN
        </div>
        <img src="../media/MEPKING/logo.png" style="width:7rem;" alt="">
    </div>



<script>

    let modal = document.querySelector('.start-modal');
    let startBtn = document.querySelector('.start-btn');

    startBtn.addEventListener('click', event => {
        modal.style.display = 'flex';
    })
    
</script>
    
</body>
</html>