{% extends 'base.html' %}


{% block content %}


<img src="" alt="">
<div class="container">
    <img src="{% if layout %} {{layout.lady_img.url}} {% endif %}" class="img-fluid" alt="">
    <h1 class="mt-2" style="font-family: serif;">{% if layout %} {{layout.lady_heading}} {% else %} Our Lady of Mepkin {% endif %}</h1>
    <p class="mt-2">
        {% if layout %}
        {{layout.lady_text}}
        {% else %}
        Xereperum re aut ipsus issendiciis eiusamus et ad quoditio vellabo. Ut eumqui id maioresse aut aliquam iunt fugitatenis eum re, apeditat laborem iusa dellecto quas ulpa consed moluptatius quisquas autentinval ea cum alignam id mo volorem poreiur, as volut laturia derectotat. 
        <br>
        Oloreic totam qui sequis digenectem et mossim nectemp orerspel et aut exeruptatur, necus res sent voloreh entibustis cum es prestempor sum vellibu sdaerit accum hilibus cullaburome saestis ma placitatur as minveri atemped ut dolorepudi beaqui
        {% endif %}
    </p>
</div>

{% include 'navbar.html' %}

{% endblock %}