<!-- <nav class="navbar nan-1 navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">Abbey Monastry</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <div class="me-auto"></div>
            <ul class="navbar-nav  mt-2 mt-lg-0">
                <li class="d-flex mx-3 justify-content-center align-items-center flex-column ">
                    <i class="fa-solid fa-house"></i>
                    <a class="nav-link " href="#" aria-current="page">Home</a>
                </li>
                <li class="d-flex mx-3 justify-content-center align-items-center flex-column ">
                    <i class="fa-solid fa-heart"></i>
                    <a class="nav-link " href="#" aria-current="page">Support</a>
                </li>
                <li class="d-flex mx-3 justify-content-center align-items-center flex-column ">
                    <i class="fa-solid fa-globe"></i>
                    <a class="nav-link " href="#" aria-current="page">Website</a>
                </li>
                <li class="d-flex mx-3 justify-content-center align-items-center flex-column ">
                    <i class="fa-solid fa-message"></i>
                    <a class="nav-link " href="#" aria-current="page">Connect</a>
                </li>
            </ul>
        </div>
  </div>
</nav> -->




<div class="navbar">
    <a href="{% url 'home' %}" class="linker">
        <i class="fa-solid fa-house"></i>
        <span class="link-text">
            HOME
        </span>
    </a>
    <a class="linker" href="https://mepkinabbey.org/donate/" target="_blank">
        <i class="fa-solid fa-heart"></i>
        <span class="link-text">
            SUPPORT
        </span>
    </a>
    <a class="linker" target="_blank" href="https://mepkinabbey.org/">
        <i class="fa-solid fa-globe"></i>
        <span class="link-text">
            WEBSITE            
        </span>
    </a>
    <a class="linker" href="https://mepkinabbey.org/news/" target="_blank">
        <i class="fa-solid fa-message"></i>
        <span class="link-text">
            CONNECT
        </span>
    </a>
</div>  