{% extends 'base.html' %}


{% block content %}



<div class="container">
    <h1 class="mt-2">Pray With Us</h1>
    <div class="row mt-5">
        <div class="col-lg mb-3"><a href="#">Streaming Service</a></div>
        <div class="col-lg mb-3"><a href="https://mepkinabbey.org/vigil-readings/" target="_blank">Vigil Readings</a></div>
        <div class="col-lg mb-3"><a href="https://mepkinabbey.org/homilies/" target="_blank">Homilies</a></div>
    </div>
</div>



{% include 'navbar.html' %}

{% endblock %}