{% extends 'base.html' %}


{% block content %}


<div class="retreat-wrapper mt-3 p-2" >
    <h1 style="font-family: serif;">
        St.Francis Retreat Center
    </h1>
    <p>
        St.Francis Retreat Center provides an atmosphere of repite and solitude for those who care to share in our prayer life, menu and the landscape of the monastry.
    </p>
    <iframe width="100%"  src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
    <a href="https://youtu.be/zp_vmecwmxI" target="_blank" class="link-1">
        <img src="../media/MEPKING/g3.png" alt="">
        <h4>Watch Video</h4>
    </a>
    <a href="https://mepkinabbey.org/retreat-center-news/" target="_blank" class="link-1">
        <img src="../media/MEPKING/center.png" style="object-fit: cover;" alt="">
        <h4>About the Center</h4>
    </a>
</div>

{% include 'navbar.html' %}



{% endblock %}