{% extends 'base.html' %}


{% block content %}


<div class="container">
    <h1 class="mt-2 mb-5" style="font-family: serif;">Virtual Tour</h1>
    <div class="mt-2">
        <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
</div>

{% include 'navbar.html' %}

<script>
    
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 33.115200817339165, lng: -79.9444384477732 },
            zoom: 17,
        });

        var markerPosition = { lat: 33.1160651, lng: -79.9442717 };

        var marker = new google.maps.Marker({
            position: markerPosition,
            map: map,
            title: 'Mepkin Abbey',
        });




        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), {
            position: markerPosition,
            pov: {
                heading: 0,
                pitch: 0,
            },
        });

        // Set the Street View panorama as the default panorama for the map
        map.setStreetView(panorama);
    }

    initMap();
</script>

{% endblock %}