{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1 class="mt-2" style="font-family: serif;">Who We Are</h1>
    <div class="row mt-5">
        <div class="col-12 mt-2"><a href="https://mepkinabbey.org/becoming-a-monk/" target="_blank">Becoming a Monk</a></div>
        <div class="col-12 mt-2"><a href="https://mepkinabbey.org/mission-statement/" target="_blank">Mission Statement</a></div>
        <div class="col-12 mt-2"><a href="https://mepkinabbey.org/news/" target="_blank">News from Mepkin</a></div>
    </div>
</div>


{% include 'navbar.html' %}

{% endblock %}